/* Website Styles */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
  background-color: pink;
  color: RoyalBlue;
  font-family: 'roboto slab', arial;
  font-size: 22px;
  margin: 50px;
}

h1 {
  color: purple;
  font-family: cambria;
  font-size: 80px;
  line-height: 0.5;
  text-align: left;
  text-decoration: none;
}

header h1 {
  text-align: center;
}

h2 {
  background-color: pink;
  color: fuchsia;
  font-size: 48px;
  text-align: center;
}

h3 {
  color: purple;
  font-size: 59px;
  line-height: 0;
}

h4 {
  color: blue;
  font-size: 40px;
}

h5 {
  color: maroon;
  font-size: 40px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
}

section {
  width: 50%;
}
section ul li {
  color: green;
}

footer {
  color: black;
  font-weight: bold;
}

a {
  color: bergundy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
}
header, section, footer {
  background-color: white;
  margin: 30px;
  padding: 30px;
  border: 3px solid purple
}
 header {
   border-bottom: 5px solid gray;
 }

 img {
   height: 300px;
   width: 100%;
 }

.title {
  font-size: 66px;
  text-decoration: underline;
  color: blue;
}
